@using RealEstates.Services.Models;
@model IEnumerable<DistrictViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, @DateTime.UtcNow.DayOfWeek!</h1>
    <p>Learn about How to became a poor man :)@*<a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a*@</p>
</div>
<p align="center">Искаш ли да си купиш имот на изгодна цена?! </p>
<p align="center">Цените са в €, не се обнадеждявайте излишно! </p>
<table class="table table-striped table-hover align-content-lg-center align-items-center">
    <tr>
        <th>Кватрал</th>
        <th>Брой Имоти</th>
        <th>Средна цена в €</th>
        <th>Минимална цена в €</th>
        <th>Максимална цена в €</th>
    </tr>
    @foreach (var district in this.Model)
    {
        <tr>
            <td>@district.Name</td>
            <td>@district.PropertiesCount</td>
            <td>@district.AveragePrice €</td>
            <td>@district.MinPrice €</td>
            <td>@district.MaxPrice €</td>
        </tr>
    }
</table>
